@import '../variables';

.dashboard {

    a {
        text-decoration: none;
    }

    @media screen and (min-width: 992px) {
        min-height: calc(100vh - 14.25rem);
    }

    &_user-avatar{
        position: relative;
    }
    
    &_user-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
    }

    &_button {
        text-decoration: none;
        color: $color-primary;
        display: flex;

        &:hover {
            background-color: $color-muted;
            color: #fff;
        }

        &-active,
        &-active:hover
        {
            background-color: $color-primary;
            color: #fff;
        }
    }
    
    a.nav-item.nav-link {
        color: $color-primary;
    }    

    a.nav-item.nav-link.active {
        color: $color-muted;
    }


}